@use "../abstract";

.product-page {
    // Prevent margin collapse
    display: flex;
    flex-direction: column;

    background-color: var(--product-page-bg-color);
    min-height: 80vh;
}

.product-container {
    margin-top: 30px;
}

.product-review {
    padding: 0 30px;
    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        flex-shrink: 0;

        padding-top: 92%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__thumbs {
        padding: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__thumb--img {
        width: 65px;
        height: 65px;
        object-fit: contain;

        border: 1.5px solid #b9babe;
        border-radius: 10px;

        opacity: 0.5;
        &:hover {
            cursor: pointer;
            opacity: 1;
            border-color: #0f0f0f;
        }

        &--current {
            border-color: #ffb700;
            opacity: 1;
        }
    }
}

.product-info {
    padding: 60px;

    &__heading {
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 138.462%;
        max-width: 639px;
    }

    &__label {
        margin-top: 30px;
    }
}

.product-props {
    padding-left: 30px;
}

.product-prop {
    display: flex;
    gap: 16px;

    margin-top: 30px;
    &__title {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__icon {
        align-self: flex-start;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 142.857%;
    }
}
