@use "../abstract";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(228deg) brightness(107%)
        contrast(101%);

    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate: #ededf6;
    @include abstract.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header
    --header-act-dropdown-bg-color: #2f3441;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #171c28;
    /*Dropdown*/
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(12%) saturate(1053%) hue-rotate(185deg)
        brightness(90%) contrast(89%);

    /*Top menu*/
    --top-menu-border-color: #171c28;

    /* Menu column */
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7111%) hue-rotate(261deg)
        brightness(96%) contrast(103%);

    /*Side Bar*/
    --sidebar-bg-color: #292e39;
    --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

    /*Category item*/
    --care-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    /*Buttons*/
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;

    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    /*Product-item*/
    --product-item-bg-color: #171c28;
    --product-item-shadow: rgba(124, 124, 124, 0.2);

    /*Filter Form*/
    --filter-form-bg-color: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg-color: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(6%) sepia(6%) saturate(5758%) hue-rotate(184deg)
        brightness(93%) contrast(87%);
    --filter-form-footer-color: #292e39;

    // Footer
    --footer-bg-color: #292929;
    --footer-item-text-color: #ff0000;
    --footer-text-heading: #77dae6;
    --footer-text-color: #fff;
    --footer-text-color--change: #fff;
    --footer-desc-color: #9e9da8;

    //form
    --form-placeholder-color: #b9babe;

    // auth
    --auth-content-bg-color: #292e39;
    --auth-intro-bg: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-heading: #b9babe;

    //Product page
    --product-page-bg-color: #292e39;
    --product-info-bg-color: #171c28;
    --product-info-tax-bg-color: #292e39;
    --product-info-container-bg-color: #171c28;
    @include abstract.breakpoint(md) {
        --product-page-bg-color: #292e39;
        --product-info-bg-color: #171c28;
    }
    // Breadcrumbs
    --breadcrumbs-bg-color: #171c28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    @include abstract.breakpoint(md) {
        --breadcrumbs-bg-color: #171c28;
    }

    // Search-bar
    --search-bar-bg-color: #171c28;

    // Review card
    --review-card-bg-color: #171c28;

    // Text content
    --text-content-hr-bg-color: #414349;

    // Checkout
    --checkout-breadcrumbs-bg-color: #171c28;
    --checkout-cart-info-bg-color: #171c28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-gift-item-shadow: rgba(23, 28, 40, 0.2);

    // Dialog
    --dialog-bg-color: #2f3441;
    --dialog-shadow: rgba(23, 28, 40, 0.4);
}
