@use "../abstract";
.dropdown {
    position: absolute;
    left: 0;
    z-index: 3;

    padding-top: 54px;
    width: min(1240px, 100%);

    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;

    @include abstract.breakpoint(lg) {
        display: none;
        position: initial;
        padding-top: 0;
    }

    &__inner {
        --inner-max-height: min(582px, 100vh - 140px);
        --inner-padding: 30px;
        position: relative;
        max-height: var(--inner-max-height);
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
        @include abstract.breakpoint(lg) {
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            max-height: inherit;
            padding: 0 40px;

            &::before {
                content: none;
            }
        }

        @include abstract.breakpoint(sm) {
            padding: 0 40px;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);
    position: relative;

    &__main {
        overflow-y: auto;
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);

        @include abstract.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: 20px;
    }
    &__icon {
        position: relative;
        flex: 0 0 auto;
        width: 36px;
        height: 36px;

        @include abstract.breakpoint(xl) {
            display: none;
        }

        @include abstract.breakpoint(lg) {
            display: block;
        }
    }
    &__content {
        flex: 1;
    }
    &__item {
        &--active .sub-menu {
            display: flex;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }
    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 4px;
        margin-bottom: 19px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 142.857%;
        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}

.sub-menu {
    display: none;
    column-gap: 30px;
    align-items: flex-start;
    position: absolute;
    inset: 0 0 0 var(--main-column-width); // top - right- bottom -left;
    padding-left: var(--inner-padding);
    overflow-y: auto;

    @include abstract.breakpoint(lg) {
        position: initial;
        flex-direction: column;
        padding-left: 0;
    }
    &--not-main {
        padding-left: 0;
        position: initial;
        inset: initial;
        display: flex;
        column-gap: 77px;
        height: var(--max-inner-height);

        @include abstract.breakpoint(lg) {
            height: auto;
        }
    }
}
