@use "../abstract";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none; // deo cho bam
    }
    &__group {
        margin-top: 30px;
        &--inline {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    // Validation
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)):has(&__input:not(:focus-within)) {
        .form__text-input {
            border-color: $error-color;
            background-color: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon {
            isplay: none;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;

        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }

        @include abstract.breakpoint(md) {
            height: 48px;
        }
    }
    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: #d2d1d6;
        }

        &-icon {
            margin-left: 12px;
            &--error {
                margin-left: 12px;
                display: none;
                width: 5%;
                animation: shake 0.8s;
            }
        }

        @include abstract.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        user-select: none;
        &-label {
            padding-left: 30px;

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;

            &::before,
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
            }

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                left: 0;
                top: 0;
                content: "";
                display: inline-block;
                width: 18.5px;
                height: 18.5px;
                border-radius: 6px;
                border: 1.5px solid #9e9da8;
            }

            @include abstract.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        & [type="checkbox"]:checked + &-label::before {
            background-color: #ffb700;
            border-color: #ffb700;
        }

        & [type="checkbox"]:checked + &-label::after {
            width: 10px;
            height: 11px;
            top: 1px;
            left: 4px;

            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            rotate: 45deg;
        }
    }
}
