@use "../abstract";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none; // deo cho bam
    }
    &__row {
        display: flex;
        gap: 30px;

        @include abstract.breakpoint(md) {
            gap: 20px;
        }
        @include abstract.breakpoint(sm) {
            flex-direction: column;
            gap: 0;
        }

        > * {
            flex: 1;
        }
    }

    &__group {
        margin-top: 30px;
        &--inline {
            display: flex;
            align-items: center;
            width: 100%;
        }

        @include abstract.breakpoint(md) {
            margin-top: 20px;
        }
    }

    // Validation
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)):has(&__input:not(:focus-within)) {
        .form__text-input {
            border-color: $error-color;
            background-color: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon {
            isplay: none;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        padding: 0 12px;

        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        &-small {
            padding: 0 12px;
            border-radius: 8px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-area {
        height: 100px;
        padding: 12px;

        &-input {
            width: 100%;
            height: 100%;

            resize: none;
        }
    }

    &__text-input {
        height: 50px;

        &--small {
            height: 42px;
        }

        @include abstract.breakpoint(md) {
            height: 48px;
        }
    }

    &__input,
    &__text-area-input {
        width: 100%;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        &::placeholder {
            color: var(--form-placeholder-color);
        }
        @include abstract.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        &-icon {
            margin-left: 12px;
            &--error {
                margin-left: 12px;
                display: none;
                width: 5%;
                animation: shake 0.8s;
            }
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        user-select: none;
        &-label {
            padding-left: 30px;

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;

            &::before,
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
            }

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                left: 0;
                top: 0;
                content: "";
                display: inline-block;
                width: 18.5px;
                height: 18.5px;
                border-radius: 6px;
                border: 1.5px solid #9e9da8;
            }

            @include abstract.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        & [type="checkbox"]:checked + &-label::before {
            background-color: #ffb700;
            border-color: #ffb700;
        }

        & [type="checkbox"]:checked + &-label::after {
            width: 10px;
            height: 11px;
            top: 1px;
            left: 4px;

            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            rotate: 45deg;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            font-style: normal;
            line-height: 142.857%;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;

        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: var(--width, 110px);
        height: calc(100% - 10px);
        padding: 0 14px;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;
        cursor: pointer;
        @include abstract.breakpoint(xl) {
            flex: 1;
        }
    }
    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 20px;
        row-gap: 10px;

        @include abstract.breakpoint(sm) {
            column-gap: 9px;
        }
    }
    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form-tag-bg-color);

        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }
}
