@use "../abstract";
.search-bar {
    display: flex;
    align-items: center;

    padding: 13px 0;
    height: 50px;

    border-radius: 10px;
    background: var(--search-bar-bg-color);

    &__input {
        flex: 1;
        padding-left: 15px;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;

        ::placeholder {
            color: #9e9da8;
            font-weight: 400;
        }
        @include abstract.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &__submit {
        padding: 13px 15px;
    }
}
