<div class="container">
    <div class="footer__inner">
        <!-- Footer top -->
        <div class="footer__row footer__row--top">
            <!-- Footer Column 1 -->
            <div class="footer__col">
                <h3 class="footer__title">SHOP</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">By Category</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Shop Home</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Mens</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Womens</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Kids</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Classics</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 2 -->
            <div class="footer__col">
                <h3 class="footer__title">SPORTS</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Skate</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Surf</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Mens</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Women's Surf</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Snow</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">BMX</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 3 -->
            <div class="footer__col">
                <h3 class="footer__title">SUPPORT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Score Locator</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Order Status</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 4 -->
            <div class="footer__col">
                <h3 class="footer__title">COMPANY</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Term Of Use</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">CA Supply Chain Acts</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Sustainability</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Recall info</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 5 -->
            <div class="footer__col footer__col--contact">
                <h3 class="footer__title">CONTACT</h3>
                <ul class="footer__list">
                    <li class="footer__item footer__item--contact">
                        <span class="footer__info">Email</span>
                        <a href="mailto:12345@gmail.com" class="footer__link">Contact us</a>
                    </li>
                    <li class="footer__item footer__item--contact">
                        <span class="footer__info"> Telephone</span>
                        <a href="tel:091234215215" class="footer__link">855-909-8267</a>
                    </li>
                    <li class="footer__item footer__item--contact">
                        <span class="footer__info"> Address</span>
                        <a href="#!" class="footer__link">Di An, Binh Duong Lorem ipsum dolor sit amet.</a>
                    </li>
                    <li class="footer__item footer__item--contact">
                        <span class="footer__info">Hours</span>
                        <a href="#!" class="footer__link">M-F 6:00am - 8:00pm PST</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__separate"></div>
        <!-- Footer bottom -->
        <div class="footer__row footer__row--bottom">
            <div class="footer__col">
                <h3 class="footer__title">STORE LOCATOR</h3>
                <p class="footer__desc">Find a Store near you</p>
                <a href="#!" class="footer__btn btn btn--primary">FIND A STORE</a>
            </div>
            <div class="footer__col">
                <h3 class="footer__title">FOLLOW US</h3>
                <div class="footer__image">
                    <div class="footer__wrap">
                        <a href="#!" class="footer__wrap">
                            <img src="./assets/icons/Facebook.svg" alt="Facebook" class="footer__img" />
                        </a>
                    </div>
                    <div class="footer__wrap">
                        <a href="#!" class="footer__wrap">
                            <img src="./assets/icons/twitter.svg" alt="twitter" class="footer__img" />
                        </a>
                    </div>
                    <div class="footer__wrap">
                        <a href="#!" class="footer__wrap">
                            <img src="./assets/icons/linked_in.svg" alt="Linkedin" class="footer__img" />
                        </a>
                    </div>
                    <div class="footer__wrap">
                        <a href="#!" class="footer__wrap"
                            ><img src="./assets/icons/instagram.svg" alt="instagram" class="footer__img" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__col">
                <h3 class="footer__title">SUBSCRIBE</h3>
                <p class="footer__desc">Receive product news and update in your inbox.</p>
                <form action="">
                    <label for="email" class="footer__label">Enter your email here</label>
                    <div class="footer__form"><input type="text" name="email" id="email" class="footer__input" /></div>
                </form>
            </div>
        </div>
    </div>
</div>
